<tr>
    <td align="left" style="padding-bottom:5px">
        {{ ip_address }} ({{ count }} hits)
    </td>
    <td align="right" class="msg-{{main_verdict}}">
        {{ main_verdict }}
    </td>
</tr>
<tr>
    <td align="left" class="msg">
        Disposition
    </td>
    <td align="right" class="msg-{%+ if msg_disposition == 'none'%}pass{% else %}fail{% endif %}">
        {{ msg_disposition }}
    </td>
</tr>
<tr>
    <td align="left" class="msg">
        SPF
    </td>
    <td align="right" class="msg-{%+ if msg_spf == 'pass'%}pass{% else %}fail{% endif %}">
        {{ msg_spf }}
    </td>
</tr>
<tr>
    <td align="left" class="msg">
        DKIM
    </td>
    <td align="right" class="msg-{%+ if msg_dkim == 'pass'%}pass{% else %}fail{% endif %}">
        {{ msg_dkim }}
    </td>
</tr>
<tr>
    <td class="msg">
        {% if envelope_to %}
        envelope_to={{ envelope_to }}<br>
        {% endif %}
        {% if envelope_from %}
        envelope_from={{ envelope_from }}<br>
        {% endif %}
        {% if header_from %}
        header_from={{ header_from }}
        {% endif %}
    </td>    
    <td></td>
</tr>